@import './colors';

.BlogsPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    @media screen and (max-width: 1080px){
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }

    .blog {
        background-color: $side-bar-color;
        width: 100%;
        padding: 1rem;
        overflow: hidden;

        .blog-content {
            overflow: hidden;
            padding-bottom: 2rem;

            img {
                width: 100%;
                transition: all .4s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                padding-bottom: 2rem;
            }

            .blog-link {
                color: white;
                font-family: inherit;
                text-decoration: none;
                font-size: 1.4rem;
                padding: 2rem 0;
                transition: all .2s ease-in-out;

                &:hover {
                    color: $base-turq;
                }
            }
        }
    }
}

.blog-title {
    margin-bottom: 4rem;
}