$base-blue: #007991;
$base-turq: #78ffd6;

$primary-content-color: #10121B;
$primary-text-color: #a4acc4;
$side-bar-color: #191D2B;
$border-color: #2e344e;

$nav-selected-color: #78ffd762;
$nav-hover-color: #7d9bff62;