.HomePage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.hero-text {
    color: white;
    text-align: center;
    font-size: 3.6rem;

    span {
        color: #78ffd6;
    }
}

.h-sub-text {
    text-align: center;
    margin-top: 15px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin-left: 10px;

    .icon-holder {
        margin-right: 1rem;

        .icon {
            // Icon Size
            font-size: 1.8rem;
            color: #a1a1a1;
            transition: all .3s ease-in-out;
            
        }

        .ig:hover {
            font-size: 2.5rem;
            color: #C13584;
            cursor: 'http://google.com';
        }

        .gh:hover {
            font-size: 2.5rem;
            color: #6cc644;
        }

        .lin:hover {
            font-size: 2.5rem;
            color: #2867B2;
        }
    }
}

// Typed Text
.typed-text{
    font-size: 1.5rem;
    span {
        color: #78ffd6;
    }
}

.particles-class{
    position: relative;
    z-index: -1;
}

.curley-braces{
    font-size: 5rem;
}