@import './styles/about';
@import './styles/layout';
@import './styles/navbar';
@import './styles/typography';
@import './styles/title';
@import './styles/skill';
@import './styles/services';

/*
Main Colors: #007991 (dark blue) && #78ffd6 (turqoise) && #3e71fd5d (active navbar)
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: $base-turq;
    border-radius: 50px;
}
body::-webkit-scrollbar-track{
    background-color: $base-blue;
}

body {
    color: #a4acc4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

footer {
    font-size: 0.8rem;
}

span {
    color: #78ffd6;
}